.slider {
  padding: 0;
  padding-bottom: 50px;
  list-style: none;
}

.slider .slick-dots {
  position: absolute;
  bottom: 15px;
  left: 50%;
  display: block;
  padding: 0;
  margin: 0;
  transform: translateX(-50%);
  list-style: none;
  text-align: center;
}

.slider .slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slider .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  background: transparent;

  &::before {
    font-family: 'slick';
    line-height: 20px;
    position: absolute;
    content: '•';
    top: 5px;
    left: 6px;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    font-size: 0;
    text-align: center;
    background-color: transparent;
    color: black;
    opacity: .25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &:hover::before,
  &:focus::before {
    opacity: 1;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

.slider .slick-dots li.slick-active button:before {
  color: black;
  opacity: 1;
}

.slider__toggle {
  width: 8px;
  height: 8px;
  padding: 0;
  border: 1px solid #353535;
  background-color: transparent;
  transform: rotate(45deg);
  cursor: pointer;
}

.slider__toggle--active {
  background-color: #353535;
}
