.page-header__logo {
  display: block;
  height: 85px;
  text-align: center;
  background-color: #292929;
}

.page-header__logo img {
  width: 226px;
  height: 85px;
}

@media (min-width: $tablet-width) {
  .page-header {
    @include row-flex();

    background-color: #000000;
  }

  .page-header__logo {
    order: 1;
    width: 100%;
    height: 397px;
    background-color: #000000;
    background-image: url("../img/header-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center -72px;
    background-size: 1200px auto;

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/header-tablet@2x.jpg");
    }
  }

  .page-header__logo img {
    display: block;
    width: 768px;
    height: 155px;
    margin: 0 auto;
    margin-top: 40px;
  }
}


@media (min-width: $desktop-width) {
  .page-header__logo {
    height: 648px;
    background-image: url("../img/header-desktop.jpg");
    background-size: 2560px auto;

    &--inner-page {
      height: 307px;
    }

    @media (min-resolution: $retina-dpi),
           (min-resolution: $retina-dppx) {
      background-image: url("../img/header-desktop@2x.jpg");
    }
  }

  .page-header__logo img {
    width: 1200px;
    margin-top: 57px;
  }
}
