.contacts {
  width: 100%;
}

.contacts__title {
  display: block;
  margin-bottom: 15px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.contacts__text {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.contacts__phone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: 1px solid #3f3f3f;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

@media (min-width: $tablet-width) {

  .contacts {
  }

  .contacts__title {
    text-align: left;
    text-transform: uppercase;
  }

  .contacts__text {
    margin-bottom: 0;
    text-align: left;
  }

  .contacts__phone {
    display: inline;
    border: none;
    padding: 0;
    font-weight: normal;

    &:hover {
      border: none;
    }
  }
}
