.price {
  padding-top: 70px;
  padding-bottom: 20px;
  background-color: #353535;

  &::after {
    background-image: url("../img/angle-grey.svg");
  }
}

.price__wrapper {
  @include wrapper();
}

.price__title {
  margin: 0;
  margin-bottom: 20px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.price__list {
  width: 100%;
  border-collapse: collapse;
}

.price__list th {
  display: none;
}

.price__list td {
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.price__list th,
.price__list td {
  padding-bottom: 15px;
}

.price__field {
  font-weight: bold;
}

.price__field span {
  display: block;
  font-weight: normal;
}

.price__add-info {
  display: none;
}

.price__value {
  vertical-align: top;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  text-align: right;
  color: #ffffff;
}

.price__discount {
  position: relative;
  min-height: 90px;
  margin: 0;
  margin-top: 10px;
  padding-top: 30px;
  padding-right: 45px;
  padding-bottom: 30px;
  padding-left: 113px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: normal;
  color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 22px;
    width: 58px;
    height: 57px;
    background-image: url("../img/clock.svg");
    background-repeat: no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .price {
    padding-top: 80px;
    padding-bottom: 55px;

    &::after {
      display: none;
    }
  }

  .price__title {
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 64px;
    text-align: left;
  }

  .price__list th {
    display: table-cell;
  }

  .price__list th,
  .price__list td {
    padding: 13px 19px;
    border: 1px solid #4a4a4a;
  }

  .price__row {
    width: 70px;
    padding: 13px 30px;
    font-size: 20px;
    line-height: 27px;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.3);
  }

  .price__field span {
    display: none;
  }

  .price__add-info {
    display: table-cell;
  }

  .price__value {
    min-width: 160px;
    text-align: left;
  }

  .price__discount {
    padding: 40px 80px 40px 185px;
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;

    &::before {
      top: 20px;
      left: 25px;
      width: 72px;
      height: 71px;
    }
  }
}

@media (min-width: $desktop-width) {
  .price {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 75px;
  }

  .price__title {
    width: 100%;
    margin-bottom: 45px;
  }

  .price__wrapper {
    @include row-flex();

    margin-right: auto;
    margin-left: auto;
  }

  .price__list {
    @include col();
    @include size(6);
    margin-right: 60px;
  }

  .price__field {
    min-width: 250px;
  }

  .price__add-info {
    min-width: 160px;
  }

  .price__value {
    min-width: 150px;
  }

  .price__discount {
    width: 270px;
    margin: 0;
    padding-top: 200px;
    padding-right: 70px;
    padding-bottom: 9px;
    padding-left: 70px;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    text-transform: unset;

    &::before {
      top: 35px;
      left: 50%;
      width: 142px;
      height: 139px;
      transform: translateX(-50%);
    }
  }
}
