.reviews {
  padding-top: 25px;
  background-color: #f8f5f2;

  &::after {
    background-image: url("../img/angle-light.svg");
  }
}

.reviews__wrapper {
  @include wrapper();
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-style: normal;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.reviews__item {
  position: relative;
  margin: 0;
  padding-left: 70px;
}

.reviews__ghost-btn {
  display: none;
}

.reviews__ghost-btn:not([href]) {
  opacity: 0.3;
  pointer-events: none;
}

.reviews__author-picture {
  position: absolute;
  top: 10px;
  left: 0;
  margin: 0;
}

.reviews__author-image {
  border: 1px solid #e5ddd5;
}

.reviews__author-name {
  display: block;
  margin-bottom: 10px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 24px;
  line-height: 27px;
  font-style: normal;
  font-weight: bold;
  color: #000000;
}

.reviews__text {
  margin: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal;
  color: #000000;
}

.reviews__slider {
  margin: 0;
}

.reviews__slider .slick-dots button {
  &:before {
    border: 2px solid #000000;
  }
}

.reviews__slider .slick-dots .slick-active button:before {
  background-color: #000000;
  opacity: 1;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 40px;
    padding-bottom: 70px;

    &::after {
      display: none;
    }
  }

  .reviews__wrapper {
    @include row-flex();

    justify-content: space-between;
  }

  .reviews__slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
    box-shadow: inset 0px 0px 0px 1px #e5ddd5;
  }

  .reviews__title {
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 40px;
  }

  .reviews__ghost-btn {
    display: block;
  }

  .reviews__item {
    min-height: 160px;
    padding-top: 35px;
    padding-right: 40px;
    padding-bottom: 35px;
    padding-left: 140px;
  }

  .reviews__author-picture {
    top: 40px;
    left: 32px;
  }

  .reviews__author-image {
    border: none;
    border-radius: 50%;
  }

  .reviews__slider .slick-arrow {
    display: block;
    width: 50px;
    height: 100%;
    box-shadow: inset 0px 0px 0px 1px #e5ddd5;

    &:hover,
    &:focus {
      box-shadow: inset 0px 0px 0px 1px #d5c9bd;
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
      background-color: #d5c9bd;
    }
  }

  .reviews__slider .slick-prev,
  .reviews__slider .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    background: transparent;
  }

  .reviews__slider .slick-prev {
    left: 0;
  }

  .reviews__slider .slick-next {
    right: 0;
  }

  .reviews__slider .slick-prev::before,
  .reviews__slider .slick-next::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/arrow.svg);
    opacity: 1;
  }

  .reviews__slider .slick-prev::before {
    left: 23px;
  }

  .reviews__slider .slick-next::before {
    left: 19px;
    transform: rotate(180deg);
  }

  .reviews__slider .slick-dots {
    bottom: -12px;
    left: 50%;
    width: auto;
    padding: 0 25px;
    transform: translateX(-50%);
    background-color: #f8f5f2;
  }

  .reviews__slider .slick-dots li {
    margin-right: 12px;
    margin-left: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    justify-content: center;
    padding-bottom: 100px;
  }

  .reviews__wrapper {
    @include wrapper();
  }

  .reviews__title {
    padding-left: 70px;
  }

  .reviews__slider {
    padding-right: 70px;
    padding-bottom: 0;
    padding-left: 70px;
    box-shadow: none;
  }

  .reviews__item {
    padding-right: 50px;
    padding-left: 318px;
    box-shadow: inset 0px 0px 0px 1px #e5ddd5;
  }

  .reviews__author-picture {
    top: 0;
    left: 0;
  }

  .reviews__author-image {
    border-radius: 0;
  }

  .reviews__slider .slick-dots {
    bottom: -55px;
  }
}
