.copyright {
  @include wrapper();

  width: 100%;
  padding-bottom: 25px;
}

.copyright__text {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
}

.copyright__ghost-btn {
  width: 100%;
  text-transform: none;
}

@media (min-width: $tablet-width) {

  .copyright {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
  }

  .copyright__ghost-btn {
    padding-right: 30px;
    padding-left: 30px;
  }
}







