.status__content {
  width: 320px;
  padding: 55px 55px 45px 55px;
  background-color: #ffffff;
}

.status__title {
  margin: 0;
  margin-bottom: 15px;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.status__text {
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.status__btn {
  padding: 13px;
  margin-top: 35px;
  font-size: 18px;
  line-height: 24px;
}

@media (min-width: $tablet-width) {
  .status__content {
    width: 460px;
    padding-right: 80px;
    padding-left: 80px;
  }
}
